@charset "UTF-8";

body {
  background-color: aliceblue;
  font-size: 0.8%;
  padding: 4%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  background-color: white;
  max-height: 90vh;
  border-radius: 30px;
  padding: 40px;
  margin: 0 auto;
}

#header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
}

.h1 {
  height: 100%;
}

#header img {
  height: 100%;
  width: auto;
  border-radius: 4px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 8px;
  gap: 8px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  padding: 8px;
}

.title {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.title img {
  width: 100%;
  border-radius: 12px;
}

main img {
  margin-top: 16px;
  margin-bottom: 40px;
  height: 320px;
  width: 100%;
  border-radius: 12px;
}

.btn ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  padding-left: 0;
  gap: 8px;
}

.btn li {
  font-size: 20px;
  width: 49%;
  background-color: #d3d3d3;
  border-radius: 30px;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  font-family: sans-serif;
}

.list-item:nth-child(3),
.list-item:nth-child(4) {
  margin-top: 10px;
}

.btn a {
  text-decoration: none;
  color: #000033;
}
