@charset 'UTF-8';

* {
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background: #6793a0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: url(../img/bg.png);
  background-size: 300px 300px;
  color: #3f3f3f;
  font-size: calc(16px + 0.25vw);
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.6;
}

a:visited {
  color: #3f3f3f;
}

img {
  border-radius: 8px;
  vertical-align: bottom;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-btn {
  display: block;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(0deg, #94c0c9 0%, #6ea9b7 100%);
  border: #c3dbdd 4px solid;
  box-shadow: 2px 2px 4px -2px #6793a0;
  border-radius: 2rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 4%;
  height: 100px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 10, 30, 0.3);
}

.header .logo {
  height: 100%;
}

.header .logo a {
  height: 100%;
}

.header .logo img {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: calc(8px + 1vw);
  height: calc(100vh - (16px + 2vw) - 100px - (16px + 2vw));
  margin-top: calc(16px + 2vw);
  padding: 0 4%;
}

.main,
.nav,
.sidebar,
.layer {
  height: 100%;
  padding: 32px calc(16px + 1vw);
  overflow: auto;
  background: #fff;
  box-shadow: 2px 2px 8px -4px rgba(0, 10, 30, 0.4);
  border-radius: 8px;
}

.main {
}

.layer {
  position: absolute;
  bottom: calc((16px + 2vw) * 2);
  left: 50%;
  translate: -50% 0;
  width: 40%;
  height: 30%;
  border: 2px solid #95aad6;
}

.nav {
  padding: 0;
  font-weight: bold;
}

.nav li a {
  display: block;
  padding: 16px;
  border-bottom: 1px solid #eee;
  color: #3f3f3f;
}

.nav li a:hover,
.nav-down-arrow:hover {
  background: #eee;
  box-shadow: 0px 2px 4px rgba(0, 10, 30, 0.1) inset;
}

.nav-down {
  display: flex;
  border-top: 1px solid#eee;
  cursor: pointer;
}

.nav-down-arrow {
  padding: 16px;
  border-left: 1px solid#eee;
  border-bottom: 1px solid#eee;
  transition: all 0.2s;
}

.nav-down a {
  flex: 1;
}

/* .nav-fixed {
  position: fixed;
  bottom: 32px;
  left: 32px;
  height: auto;
  padding-bottom: 120px;
  z-index: 50;
} */

.sidebar {
  background: #daf2ec;
}

.nav-sublist {
  max-height: 0;
  overflow: hidden;
  background: #f5f5f5;
  transition: all 0.8s linear;
}

.nav-sublist.open {
  max-height: calc((((16px + 0.25vw) * 1.5) + 16px * 2) * 4);
}

.nav-sublist li:not(:first-of-type) {
  border-top: 1px solid #ddd;
}

.nav-sublist li:not(:last-of-type) a {
  border-bottom: 0px;
}

.center {
  text-align: center;
}

.kv img {
  width: 100%;
}

.index-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-item {
  width: calc(50% - 8px);
  margin-top: 16px;
}

.list-item a {
  display: block;
  padding: 0.8rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(0deg, #94c0c9 0%, #6ea9b7 100%);
  border: #c3dbdd 4px solid;
  box-shadow: 2px 2px 4px -2px #6793a0;
  border-radius: 2rem;
}

.popup-partylist {
  cursor: pointer;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background: url(../img/bg.png) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  z-index: 999;
}

.popup.display {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  padding: 32px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 10, 30, 1);
  border-radius: 8px;
}

.popup-inner li {
  width: calc((100% / 3) - 8px);
}

.popup-inner a img {
  width: 100%;
}

.popup-inner a {
  width: 100%;
  vertical-align: bottom;
}

.popup-btn {
  padding: 0.6rem;
  width: 100%;
  max-width: 75%;
  margin-top: 16px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(0deg, #94c0c9 0%, #6ea9b7 100%);
  border: #c3dbdd 4px solid;
  box-shadow: 2px 2px 4px -2px #6793a0;
  border-radius: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.popup-btn:hover {
  opacity: 0.6;
}

.sub-title {
  color: #fff;
  text-shadow: #27636e 1px 0px, #27636e -1px 0px, #27636e 0px -1px, #27636e 0px 1px, #27636e 1px 1px, #27636e -1px 1px,
    #27636e 1px -1px, #27636e -1px -1px;
  margin-bottom: 32px;
}

.type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-top: 48px;
}

.type-list li {
  width: calc(100% / 7 - 8px);
  max-width: 80px;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 10, 30, 0.3);
}

.type-list li a {
  vertical-align: bottom;
}

.CS-title {
  position: relative;
  margin-bottom: 40px;
}

.CS-title img {
  margin: auto;
}

.CS-type-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: #27636e 1px 0px, #27636e -1px 0px, #27636e 0px -1px, #27636e 0px 1px, #27636e 1px 1px, #27636e -1px 1px,
    #27636e 1px -1px, #27636e -1px -1px;
  filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 2px #ffffff);
}

.party-list {
  display: flex;
  flex-wrap: wrap;
}

.party {
  position: relative;
  width: calc(100% / 4.5);
  margin-left: 2%;
  margin-bottom: 2%;
  min-width: 120px;
  aspect-ratio: 1 / 1;
}

.party a {
  display: block;
  width: 100%;
  height: 100%;
  border: 6px #27636e solid;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgba(10, 40, 60, 0.2);
}

.party img {
  width: 100%;
  height: 100%;
}

.party-delete {
  position: absolute;
  top: -5%;
  right: -5%;
  width: 25%;
  height: 25%;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  z-index: 1;
}

.party-delete::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 50%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.party-delete::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 50%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 4px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.party-delete {
  cursor: pointer;
  transition: 0.2s;
}

.party-delete:hover {
  opacity: 0.6;
}

.pomatool {
  height: calc(100% - 32px);
}

.pomatool-frame {
  display: block;
  width: 100%;
  height: calc(100% - 100px);
  border: none;
}

.pomatool form {
  margin-bottom: 32px;
}

.pomatool input {
  width: 100%;
}

.detail-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.party-detail {
  position: relative;
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: 8px #7d7874 solid;
}

.party-detail img {
  width: 100%;
}

.stars {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 55%;
}

.stars img {
  position: absolute;
  width: 33%;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}

.stars img:first-child {
  left: 0;
}

.stars img:nth-child(2) {
  left: 33%;
  transform: translateX(-25%);
}

.stars img:nth-child(3) {
  left: 66%;
  transform: translateX(-50%);
}

.stars img:nth-child(4) {
  left: 15%;
  transform: translate(-15%, 80%);
}

.stars img:last-child {
  left: 50%;
  transform: translate(-50%, 80%);
}

.EX {
  position: absolute;
  top: 0;
  left: 25%;
  width: 25%;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
}

.party-detail-sync {
  position: absolute;
  bottom: -12%;
  right: -12%;
  width: 50% !important;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #666;
  background-color: #fff;
}

.skill,
.potential {
  position: absolute;
  bottom: calc(-10px + -1em + -12px);
}

.skill {
  bottom: calc(-10px + -2.25em + -12px);
}

.party-detail p {
  display: none;
}

.party-detail a {
  width: 100%;
}

.random-btn {
  position: absolute;
  bottom: -5em;
  left: 0;
  width: 100%;
}

.CS-ノーマル a,
.CS-ノーマル-detail {
  border: 8px #7d7874 solid;
  background-color: #afaeab;
}

.CS-ほのお a,
.CS-ほのお-detail {
  border: 8px #c94a4f solid;
  background-color: #ed605f;
}

.CS-みず a,
.CS-みず-detail {
  border: 8px #3090b4 solid;
  background-color: #60c3ec;
}

.CS-でんき a,
.CS-でんき-detail {
  border: 8px #b09002 solid;
  background-color: #fed93c;
}

.CS-くさ a,
.CS-くさ-detail {
  border: 8px #3f9849 solid;
  background-color: #50ca5d;
}

.CS-こおり a,
.CS-こおり-detail {
  border: 8px #4c9da3 solid;
  background-color: #78c8d0;
}

.CS-かくとう a,
.CS-かくとう-detail {
  border: 8px #c55f23 solid;
  background-color: #f9915a;
}

.CS-どく a,
.CS-どく-detail {
  border: 8px #8f52b3 solid;
  background-color: #c773da;
}

.CS-じめん a,
.CS-じめん-detail {
  border: 8px #a06546 solid;
  background-color: #d28346;
}

.CS-ひこう a,
.CS-ひこう-detail {
  border: 8px #4d73e0 solid;
  background-color: #819ff0;
}

.CS-エスパー a,
.CS-エスパー-detail {
  border: 8px #d34b7d solid;
  background-color: #f682af;
}

.CS-むし a,
.CS-むし-detail {
  border: 8px #6a9001 solid;
  background-color: #aad23c;
}

.CS-いわ a,
.CS-いわ-detail {
  border: 8px #8e6b47 solid;
  background-color: #be9877;
}

.CS-ゴースト a,
.CS-ゴースト-detail {
  border: 8px #8c6587 solid;
  background-color: #c89cc2;
}

.CS-ドラゴン a,
.CS-ドラゴン-detail {
  border: 8px #109cab solid;
  background-color: #31abcc;
}

.CS-あく a,
.CS-あく-detail {
  border: 8px #636286 solid;
  background-color: #9695b4;
}

.CS-はがね a,
.CS-はがね-detail {
  border: 8px #62759d solid;
  background-color: #95aad6;
}

.CS-フェアリー a,
.CS-フェアリー-detail {
  border: 8px #d34b7d solid;
  background-color: #fa9dad;
}
