@charset "UTF-8";

body {
  background-color: aliceblue;
  font-size: 0.8%;
  padding: 4%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  background-color: white;
  max-height: 90vh;
  border-radius: 30px;
  padding: 40px;
  margin: 0 auto;
}

#header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
}

.h1 {
  height: 100%;
}

#header img {
  height: 100%;
  width: auto;
  border-radius: 4px;
}

#header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 8px;
  gap: 8px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  padding: 8px;
}

.main h2 {
  font-size: 2.5em;
}

.main ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 520px;
  padding-left: 0;
  gap: 8px;
}

.content {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 520px;
  padding-left: 0;
  gap: 8px;
}

.content li {
  font-size: 0.9%;
  width: 30%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0 auto;
}

.content a {
  text-decoration: none;
}

.content img {
  margin: 0 auto;
  border-radius: 30px;
}
